version: '3'
services:
  mongo:
    container_name: goals-mongo
    image: mongo:7.0
    ports:
       - 27017:27017
    command: "mongod"
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet localhost/test --eval 'db.runCommand({ ping: 1 }).ok ? process.exit(0) : process.exit(1)'"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes: 
      - ~/mongo/data:/data/db
    networks:
      - backend

  api:
    container_name: goals-api
    depends_on:
      - mongo
    build: .
    env_file: 
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ".:/usr/src/app"
      - "/usr/src/app/node_modules"
    networks:
      - backend
  
networks:
  backend:
    name: backend
